#content
:coffeescript
  $ =>
    new BackboneTwitterBootstrap.Routers.AppRouter()
    new BackboneTwitterBootstrap.Routers.PostsRouter(user: window.currentUser)
    new BackboneTwitterBootstrap.Routers.SessionsRouter(user: window.currentUser, guest: window.guest, token: window.token)
    Backbone.history.start()
