<p>Добро пожаловать <%= @resource.email %>!</p>

<p>Для смены пароля перейдите по ссылке:</p>

<p><%= link_to 'Поменять пароль', "http://" + Rails.configuration.action_mailer.default_url_options[:host] + "/#/forgot?token=" + @resource.reset_password_token %></p>

<p>Если вы не запрашивали смену пароля то ничего не делайте.</p>
<p>Ваш пароль не изменится если вы не перейдете по ссылке.</p>
